#nav-bar {
    position: fixed;
    top: 0;
    height: 30px;
}

#form {
    margin-top: 30px;
}

body {
    width: 800px;
}

#pricing-container {
    display: flex;
    height: 100px;
    width: 100%;
}

.pricing-box {
    
    width: 33%;
    height: 100px;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

@media (max-width: 400px) {
    body {
        background-color: lightgray;
    }

    a {
        font-size: 30px;
    }
}